@import 'variables';
@import 'reset';
@import 'media';
@import 'partials/header';
@import 'partials/assets';
@import 'partials/prices';
@import 'partials/contact';
@import 'partials/newsletter';
@import 'partials/footer';
@import 'partials/information';



%clearfix {
  &:after,
  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

%hidden {
  &.hidden {
    display: none;
  }
}
%link{
  .link {
    padding-bottom: 4%;
    padding-top: 3%;
    color: #0d56cc;
    text-decoration: none;

    &.visited {
      color: #0d56cc;
    }
  }
}

body {
  transition: background 0.5s ease-out;
  min-width: 320px;
  max-width: 1200px;
  @include tablet{
  max-width: 768px; 
  }

  &.mask {
    background: black;
  }
}
