@import 'variables';
@import 'reset';
@import 'media';
@import 'fonts';
@import 'partials/header';
@import 'partials/assets';
@import 'partials/prices';
@import 'partials/contact';
@import 'partials/contact_icons';
@import 'partials/newsletter';
@import 'partials/footer';
@import 'partials/information';



%clearfix {
  &:after,
  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

%hidden {
  &.hidden {
    display: none;
  }
}
%link{
  .link {
    padding-bottom: 4%;
    padding-top: 3%;
    color: #0d56cc;
    text-decoration: none;

    &.visited {
      color: #0d56cc;
    }
  }
}

body {
  font-family:'latoregular', Arial, sans-serif;
  transition: background 0.5s ease-out;
  font-size: 16px;
  min-width: 320px;
  #mask {
    display: none;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.77);

    &.visible {
      display: block;
    }
  }

  section{
    // position: relative;
    display: block;
  }
  @include tablet{
  // max-width: 768px;
  }
  @include laptop{
    // max-width:1200px;
  }
}
