.assets {
  .slider {
    position: static;
    overflow: hidden;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    @include tablet {
      height: 46vh;
      top: 0;
    }
    @include laptop {
      height: 70vh;
    }

    .slide_box {
      width: 200vw;
      height: 100%;

      .slide {
        position: relative;
        display: inline-block;
        float: left;
        width: 100vw;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transition: left 1s linear;
        box-sizing: border-box;
        z-index: 1;
      }
    }

    .cirlce_box {
      width: 10%;
      margin: 0 auto;
      top: 84px;
      @include tablet {
        top: 250px;
      }
      @include laptop {
        top: 344px;
      }
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      z-index: 3;

      .slider_circle {
        width: 32%;

        .inside_circle {
          fill: red;
          cx: 25;
          cy: 25;
          r: 20;
          stroke: white;
          stroke-width: 6;
          transition: fill 1.5s;

          &.inactive {
            fill: white;
          }
        }
      }
    }
  }
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
  }
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 11px auto;

  articles {
    border: 2px solid #b1acac;
    margin-bottom: 3%;
    @include tablet {
      width: 31%;
    }
  }

  * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      display: block;
    }
  }

  h3,
  p {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    @include tablet{


      }
    }



  div {
    height: 35vh;
    width: 97%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid white;
    margin: 0 auto;
    @include tablet {
      height: 30vh;
    }

    &.first_asset {
      background-image: url('../images/1.jpg');

    }
    &.second_asset {
      background-image: url('../images/2.jpg');
    }

    &.third_asset {
      background-image: url('../images/3.jpg');
    }
    }
  @extend %link;
}
