.header {
  width: 100vw;
  position: static;
    height: 70px;

  #mask {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: black;

    &.visible {
      display: block;
    }
  }

  .navigation_bar {
    width: 100vw;
    height: $navigationHeight;
    background: $navigationBackgroundColor;
    position: fixed;
    border-bottom: 1px solid grey;
    z-index: 9999;
    position: relative;
    @include tablet {
      height: 100px;
    }
    @include laptop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // height: 12vh;
    }

    .logo {
      position: relative;
      display: block;
      float: left;
      top: 50%;
      transform: translate(0%, -50%);
      // width: 50%;
      height: 60%;
      margin: auto auto auto $outerNavigationMargin;
      @extend %clearfix;
      @include tablet {
        float: none;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35%;
        top: 30%;
      }
      @include laptop {
        left: 0;
        top: 0;
        margin: 20px;
        transform: none;
        height: 55%;
      }
    }

    .hamburger {
      position: relative;
      display: block;
      float: right;
      top: 50%;
      transform: translate(0%, -50%);
      margin-right: $outerNavigationMargin;
      width: 50px;
      height: 50px;
      @extend %clearfix;
      @include tablet {
        display: none;
      }

      span {
        position: absolute;
        right: 0;
        background: $hamburgerColor;
        width: 30px;
        height: 3px;
        top: 50%;
        box-shadow: 0 -10px 0 0 $hamburgerColor, 0 10px 0 0 $hamburgerColor;
        transition: box-shadow 0.5s ease-out,transform 0.5s ease-out;
        @extend %hidden;

        &.cross:first-child {
          transform: rotate(45deg);
          box-shadow: none;
        }

        &.cross:last-child {
          transform: rotate(-45deg);
          box-shadow: none;
        }
      }
    }

    .menu {
      position: absolute;
      top: $navigationHeight + 1px;
      width: 80%;
      float: left;
      left: -100%;
      background: white;
      @extend %clearfix;
      transition: left 0.6s ease-out;
      z-index: 9999;
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        left: 50%;
        transform: translate(-50%, 0);
        margin: auto;
        background: none;
        width: 100vw;
        top: 70%;
      }
      @include laptop {
        width: 70%;
        transform: none;
        right: 0;
        position: relative;
        top: 0;
        float: none;
        transform: translate(-60%, 0);
        transition: none;
      }

      &.show_menu {
        left: 0;
      }

      li {
        padding: 10px;
        display: block;
        border-bottom: 1px solid $hamburgerColor;
        margin: 0 13px;
        @extend %clearfix;
        @include tablet {
          display: inline-block;
          margin: 0;
          padding: 0;
          border-bottom: none;

          &:hover {
            & .submenu {
              display: flex;
              justify-content: space-between;
              position: absolute;
              padding: 4px;
              margin-top: 8px;

              &:last-of-type {
                // transform: translate(-35%);
              }

              & li {
                padding: 0 16px;

                &:hover {
                  background-color: #ab0a29;
                }
              }
            }
          }
        }
        @include laptop {
          float: right;
          border-bottom: none;
          // &:hover{
          //   .submenu{
          //     display:inline-block;
          //     position: absolute;
          //     padding: 6px;
          //   }
        }
      }

      & .small_cross {
        width: 10px;
        height: 10px;
        float: right;
        @include tablet {
          display: none;
        }
      }

      &:first-of-type {
        margin-top: 20px;
        @include tablet {
          margin: 0;
        }
      }

      &:last-of-type {
        margin-bottom: 100%;
        @include tablet {
          margin: 0;
        }
      }

      ul {
        @extend %hidden;
        display: block;

        &.submenu {
          background-color: $acentColor;
          color: white;
          margin: 0;

          li {
            &:first-of-type {
              margin-top: 0;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
.slider {
  position: static;
  overflow: hidden;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  height: auto;

  .slide_box {
    width: 200vw;
    height: 100%;

    .slide {
      position: relative;
      display: inline-block;
      float: left;
      width: 100vw;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      transition: left 1s linear;
      box-sizing: border-box;
      z-index: 1;
    }
  }
}

    .cirlce_box {
      width: 10%;
    margin: 0 auto;
    top: 173px;
    position: static;

      transform: translate(0,100%);
      z-index: 3;
      text-align: center;

      @include tablet {
        top: 250px;
      }
      @include laptop {
        top: 344px;
      }


      .slider_circle {
        width: 32%;

        .inside_circle {
          fill: red;
          cx: 25;
          cy: 25;
          r: 20;
          stroke: white;
          stroke-width: 6;
          transition: fill 1.5s;

          &.inactive {
            fill: white;
          }
        }
      }
    }
