.information {
  text-align: center;
  padding: 5px;
  margin: 3%;

  p {
    margin: 10px;
  }

  .ordered_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @extend %clearfix;

    .details {
      width: 48%;
      display: flex;
      margin: 7px;

      img {
        max-height: 100px;
        min-width: 100px;
      }
    }

    h2,
    p {
      text-align: left;
    }

    h2 {
      margin-left: 8px;
    }

    h2 {
      color: $acentColor;
    }
  }
}
